doctype html
html
    include ../includes/head
    include ../includes/header
    body
        .container
            .header_content-box
                .row
                    .col-md-3.header_content-sidebar
                        include ../includes/sidebar
                    .col-md-9
                        include ../includes/subcategory-info
        include ../includes/footer.pug