each val in cat
    include subcategory-list
    .card.mb-3
        .card-body
            h5(class="card-title") #{val.name}
            p(class="card-text cat_text") #{val.description}
            p(class="card-text")
               small(class="text-muted") Last updated #{new Date(val.date_modified.toString()).toDateString()}
