.products-box
    .row
        each val in products
            .col-md-4
                .card(style="width: 18rem;")
                    img(src="http://new.zoocomplex.com.ua/image/" + val.image class="card-img-top" alt="...")
                    .card-body
                        h5(class="card-title") #{val.name}
                        a(href="#" class="btn btn-primary") Переход куда-нибудь
    nav(class="page-navigation"  aria-label="Page navigation example")
        ul(class="pagination" id="pagination")
            li(class="page-item prev")
                a(class="page-link "+ "page-"+ prev_page href="/subcategory?id="+ catId +"&page=" + prev_page  aria-label="Previous")
                    span(aria-hidden="true") &laquo;
            while fisrtpage <= lastpage
                li(class="page-item line-content")
                    a(class="page-link "+ "page-"+ fisrtpage href="/subcategory?id="+ catId +"&page=" + fisrtpage rel="page-" + fisrtpage)= fisrtpage++
            li(class="page-item next")
                a(class="page-link "+ "page-"+ next_page href="/subcategory?id="+ catId +"&page=" + next_page)
                    span(aria-hidden="true") &raquo;
