.block-featured
    .row
        each val in featured
            .col-md-4
                .card(style="width: 18rem;")
                    img(src="http://new.zoocomplex.com.ua/image/" + val.image class="card-img-top" alt="...")
                    .card-body
                        h5(class="card-title") #{val.name}
                        p Модель товара: #{val.model}
                        a(href="#" class="btn btn-primary") Подробнее