footer(class="bg-dark")
    .container.py-5
        .row
            .col-12.col-md
                i(class="fa fa-dot-circle-o fa-lg d-block pt-1 text-light")
                small(class="d-block my-3 text-muted text-light") © 2017-2018
            .col-6.col-md
                h5(class="text-success")
                    b Features
                ul(class="list-unstyled text-small text-light")
                    li
                        a(class="text-light" href="#") Cool stuff
                    li
                        a(class="text-light" href="#") Random feature
                    li
                        a(class="text-light" href="#") Team feature
                    li
                        a(class="text-light" href="#") Stuff for developers
                    li
                        a(class="text-light" href="#") Another one
                    li
                        a(class="text-light" href="#") Last time
            .col-6.col-md
                h5(class="text-success")
                    b Resources
                ul(class="list-unstyled text-small")
                    li
                        a(class="text-light" href="#") Resource
                    li
                        a(class="text-light" href="#") Resource name
                    li
                        a(class="text-light" href="#") Another resource
                    li
                        a(class="text-light" href="#") Final resource
            .col-6.col-md
                h5(class="text-success")
                    b Resources
                ul(class="list-unstyled text-small")
                    li
                        a(class="text-light" href="#") Business
                    li
                        a(class="text-light" href="#") Education
                    li
                        a(class="text-light" href="#") Government
                    li
                        a(class="text-light" href="#") Gaming
            .col-6.col-md
                h5(class="text-success")
                    b About
                ul(class="list-unstyled text-small")
                    li
                        a(class="text-light" href="#") Team
                    li
                        a(class="text-light" href="#") Locations
                    li
                        a(class="text-light" href="#") Privacy
                    li
                        a(class="text-light" href="#") Terms
    script(src="/js/jquery-3.4.1.min.js")
    script(src="/owlcarousel/owl.carousel.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/main.js")